body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #161B1D;
  color: #DCE6EB;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #DCE6EB;
}

ul {
  margin: 0;
}

.bg-my-dark {
  background-color: #1E2224;
}



.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #1E2224;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: #DCE6EB;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;

}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:12px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}